<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [uiSref]="config.navItems[0].stateName">{{config.title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let item of config.navItems"
          class="nav-item active">
        <a class="nav-link" [uiSref]="item.stateName">{{item.title}}<span class="sr-only"></span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" novalidate>
      <input #text
             class="form-control mr-sm-2"
             type="search"
             placeholder="Search"
             aria-label="Search"
             (keyup.enter)="onSearch(text.value); text.value=''">
      <button type="button"
              class="btn btn-outline-success my-2 my-sm-0"
              (click)="onSearch(text.value);text.value=''">Search
      </button>
    </form>
  </div>
</nav>
